header {
    text-align: center;
}

hr {
    height: 2px;
    background-color: grey;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 16px;
    color: red;
}

h3 {
    font-size: 16px;
    color: green;
}