* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: rgb(245, 247, 245);
    --green: #288037;
    --red: #911935;
    --black: #000000;

    --s1: rgb(247, 180, 117);
    --s2: rgb(182, 124, 226);
    --s3: rgb(120, 111, 221);
    --s4: rgb(144, 230, 129);
    --s5: rgb(234, 156, 204);
    --pausa: rgb(221, 221, 221);
}

body{
    background-color: var(--bg);
}

header {
    padding: 2%;
    background-color: var(--green);
    color: var(--bg);
}

main {
    padding: 2%;
    min-height: 100vh;
    font-size: 16px;
}

#junto {
    display: flex;
}

table, th, td {
    border: 1px solid var(--black);
    border-collapse: collapse;
}

th, td {
    padding: 7px;
    width: 160px;
}

th {
    background-color: var(--green);
    color: var(--bg);
    border-color: var(--bg);
    border-bottom: var(--black);
}

tbody td:hover{
    background-color: var(--green);
    color: var(--bg);
}

caption {
    text-align: left;
    font-size: 20px;
}

.lab4 {
    background-color: var(--s1);
}

.lab1 {
    background-color: var(--s2);
}

.quadra {
    background-color: var(--s3);
    color: var(--bg);
}

.sala1 {
    background-color: var(--s4);
}

.sala6 {
    background-color: var(--s5);
}

.pausa{
    font-size: 14px;
    background-color: var(--pausa);
}

.pausa2{
    text-align: center;
}

.espaço {
    background-color: var(--pausa);
}

.prof {
    display: flex;
}

dt {
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 5px;
}

#info {
    margin-left: 5%;
}

footer {
    background-color: var(--green);
    text-align: center;
    padding: 10px;
    color: var(--bg);
}

a {
    color: var(--bg);
}
